.flows.json.backup
[{"id":"1097d375.a0292d","type":"tab","label":"Input","disabled":false,"info":""},{"id":"86e2edde.022a2","type":"tab","label":"Manual Control","disabled":false,"info":""},{"id":"f03c8a04.b7c0a8","type":"tab","label":"Weather Model","disabled":false,"info":""},{"id":"2ca9fadb.4c9106","type":"tab","label":"Environmental control","disabled":false,"info":""},{"id":"9c02c459.5c4b68","type":"tab","label":"Notifications","disabled":false,"info":""},{"id":"b88e2cee.1599c","type":"tab","label":"Output","disabled":false,"info":""},{"id":"8e369a6.066f068","type":"tab","label":"Graphs and history","disabled":false,"info":""},{"id":"34a70a3d.77c6b6","type":"tab","label":"Test","disabled":false,"info":""},{"id":"db8eb98c.d51c08","type":"tab","label":"Counters and timers","disabled":false,"info":""},{"id":"1f761ba1.5a2bf4","type":"ui_tab","z":"","name":"Terrarium","icon":"dashboard","disabled":false,"hidden":false},{"id":"444ed19b.f1014","type":"ui_group","z":"","name":"History","tab":"1f761ba1.5a2bf4","disp":true,"width":"12","collapse":false},{"id":"c11b69fb.54ba08","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"54d4d828.b35af8","type":"ui_group","z":"","name":"Manual Control","tab":"1f761ba1.5a2bf4","disp":true,"width":"6","collapse":false},{"id":"72f675a4.16127c","type":"ui_tab","z":"","name":"Test","icon":"dashboard","disabled":false,"hidden":false},{"id":"5a12ef70.069d9","type":"ui_group","z":"","name":"Test","tab":"72f675a4.16127c","disp":true,"width":"18","collapse":false},{"id":"ec4eb288.f098c","type":"mqtt-broker","z":"","name":"Server","broker":"192.168.0.2","port":"1883","clientid":"terrarium","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"73da414c.e1f97","type":"rpi-dht22","z":"1097d375.a0292d","name":"Inside Sensor","topic":"rpi-dht22","dht":22,"pintype":"0","pin":"4","x":340,"y":80,"wires":[["8732db31.8c64c8"]]},{"id":"3382bb9.068ed44","type":"inject","z":"1097d375.a0292d","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"0.3","x":130,"y":120,"wires":[["73da414c.e1f97","30e5f866.6ce228","a2c71bb5.3b4428"]]},{"id":"30e5f866.6ce228","type":"rpi-dht22","z":"1097d375.a0292d","name":"Outside Sensor","topic":"rpi-dht22","dht":22,"pintype":"0","pin":"5","x":340,"y":120,"wires":[["5739c430.1c67ec"]]},{"id":"8732db31.8c64c8","type":"change","z":"1097d375.a0292d","name":"Format output","rules":[{"t":"set","p":"temperature","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.insideTemperature","pt":"msg","to":"temperature","tot":"msg"},{"t":"set","p":"payload.insideHumidity","pt":"msg","to":"humidity","tot":"msg"},{"t":"delete","p":"temperature","pt":"msg"},{"t":"delete","p":"humidity","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":80,"wires":[["b615f379.ee71"]]},{"id":"5739c430.1c67ec","type":"change","z":"1097d375.a0292d","name":"Format output","rules":[{"t":"set","p":"temperature","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.outsideTemperature","pt":"msg","to":"temperature","tot":"msg"},{"t":"set","p":"payload.outsideHumidity","pt":"msg","to":"humidity","tot":"msg"},{"t":"delete","p":"temperature","pt":"msg"},{"t":"delete","p":"humidity","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":120,"wires":[["b615f379.ee71"]]},{"id":"99d0ac40.00f6b","type":"function","z":"1097d375.a0292d","name":"Fresh Water Level Calculation","func":"value = msg.payload;\n\nvoltage = value / 32767.0 * 4.096;\nresistance = 2000 * (3.3 / voltage - 1);\nlevel = 100 - (resistance - 330) / 1630.0 * 100;\n\nmsg.payload = level;\nmsg.topic = \"freshWaterLevel\";\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":240,"wires":[["72ef3481.38bb2c"]]},{"id":"c760daf.4631728","type":"change","z":"1097d375.a0292d","name":"Remove Channel Data","rules":[{"t":"set","p":"topic","pt":"msg","to":"soilHumidity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":200,"wires":[["99e0880d.7efc08"]]},{"id":"a2c71bb5.3b4428","type":"sunpos","z":"1097d375.a0292d","name":"Sun position","lon":"5","lat":"33.08895277777778","start":"sunrise","startoffset":"0","end":"sunset","endoffset":"0","x":330,"y":160,"wires":[["2a2feace.e626c6","dddb6f79.15e44"]]},{"id":"2a2feace.e626c6","type":"function","z":"1097d375.a0292d","name":"Calculate light intensity","func":"msg.topic = \"lightIntensity\";\nmsg.payload = Math.max(0, Math.round(Math.sin(msg.payload.altitude / 180 * Math.PI) * 100));\n\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":160,"wires":[["dcb294ef.62ba58"]]},{"id":"dcb294ef.62ba58","type":"change","z":"1097d375.a0292d","name":"Message cleanup","rules":[{"t":"delete","p":"isValid","pt":"msg"},{"t":"delete","p":"errors","pt":"msg"},{"t":"delete","p":"location","pt":"msg"},{"t":"delete","p":"sensorid","pt":"msg"},{"t":"delete","p":"sunTimes","pt":"msg"},{"t":"delete","p":"time","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1890,"y":100,"wires":[["ccd791b8.31af5"]]},{"id":"ccd791b8.31af5","type":"link out","z":"1097d375.a0292d","name":"Input","links":["cf800ffc.8885","3bfb3189.72d23e","ee932422.121a48","fa0333b3.87167"],"x":2055,"y":100,"wires":[]},{"id":"cf800ffc.8885","type":"link in","z":"8e369a6.066f068","name":"Graphs and history","links":["583e2fb8.b018e","ccd791b8.31af5"],"x":95,"y":380,"wires":[["b7f81f09.1eac3"]]},{"id":"b56b00c5.1a5fa","type":"switch","z":"8e369a6.066f068","name":"Split topics","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"targetTemperatureMin","vt":"str"},{"t":"eq","v":"targetTemperature","vt":"str"},{"t":"eq","v":"targetTemperatureMax","vt":"str"},{"t":"eq","v":"insideTemperature","vt":"str"},{"t":"eq","v":"outsideTemperature","vt":"str"},{"t":"eq","v":"targetHumidityMin","vt":"str"},{"t":"eq","v":"targetHumidity","vt":"str"},{"t":"eq","v":"targetHumidityMax","vt":"str"},{"t":"eq","v":"insideHumidity","vt":"str"},{"t":"eq","v":"outsideHumidity","vt":"str"},{"t":"eq","v":"soilHumidity","vt":"str"},{"t":"eq","v":"freshWaterLevel","vt":"str"},{"t":"eq","v":"insideWaterLevel","vt":"str"},{"t":"eq","v":"wasteWaterLevel","vt":"str"},{"t":"eq","v":"lightIntensity","vt":"str"}],"checkall":"true","repair":false,"outputs":15,"x":830,"y":380,"wires":[["c778cca2.4eac3"],["c778cca2.4eac3"],["c778cca2.4eac3"],["c778cca2.4eac3"],["c778cca2.4eac3"],["e00d98d.ff16c68"],["e00d98d.ff16c68"],["e00d98d.ff16c68"],["e00d98d.ff16c68"],["e00d98d.ff16c68"],["e00d98d.ff16c68"],["513f788c.2bdb28"],["513f788c.2bdb28"],["513f788c.2bdb28"],["cdc42f39.20ff2"]]},{"id":"513f788c.2bdb28","type":"ui_chart","z":"8e369a6.066f068","name":"","group":"444ed19b.f1014","order":3,"width":"0","height":"0","label":"Water Levels","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1110,"y":420,"wires":[[]]},{"id":"cdc42f39.20ff2","type":"ui_chart","z":"8e369a6.066f068","name":"","group":"444ed19b.f1014","order":4,"width":"0","height":"0","label":"Light Intensity","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1120,"y":460,"wires":[[]]},{"id":"9df60e06.4f67d","type":"range","z":"1097d375.a0292d","minin":"0","maxin":"32767","minout":"0","maxout":"100","action":"roll","round":true,"property":"payload","name":"Calculate Inside Water Level","x":860,"y":280,"wires":[["b2188ae9.8b6a08"]]},{"id":"9aa7eb34.425178","type":"range","z":"1097d375.a0292d","minin":"0","maxin":"32767","minout":"0","maxout":"100","action":"roll","round":true,"property":"payload","name":"Calculate Waster Water Level","x":870,"y":320,"wires":[["c8780275.1388f"]]},{"id":"95e7833b.a84bb","type":"range","z":"1097d375.a0292d","minin":"0","maxin":"32767","minout":"0","maxout":"100","action":"roll","round":true,"property":"payload","name":"Calculate Soil Humidity","x":850,"y":200,"wires":[["c760daf.4631728"]]},{"id":"a2ce0ed6.6687f","type":"aggregator","z":"8e369a6.066f068","name":"","topic":"","intervalCount":1,"intervalUnits":"h","submitIncompleteInterval":true,"submitPerTopic":true,"aggregationType":"mean","x":830,"y":520,"wires":[["336ba04f.8d577","c3f98dd7.ed839"]]},{"id":"f25128c2.e93548","type":"ui_chart","z":"8e369a6.066f068","name":"","group":"444ed19b.f1014","order":5,"width":"0","height":"0","label":"Temperature / Humidity","chartType":"line","legend":"true","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1430,"y":600,"wires":[[]]},{"id":"336ba04f.8d577","type":"switch","z":"8e369a6.066f068","name":"Split topics","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"insidetemperature","vt":"str"},{"t":"eq","v":"insidehumidity","vt":"str"},{"t":"eq","v":"outsidetemperature","vt":"str"},{"t":"eq","v":"outsidehumidity","vt":"str"},{"t":"eq","v":"soilhumidity","vt":"str"},{"t":"eq","v":"freshwaterlevel","vt":"str"},{"t":"eq","v":"insidewaterlevel","vt":"str"},{"t":"eq","v":"wastewaterlevel","vt":"str"},{"t":"eq","v":"lightintensity","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":1110,"y":640,"wires":[["f25128c2.e93548"],["f25128c2.e93548"],["f25128c2.e93548"],["f25128c2.e93548"],["f25128c2.e93548"],["25d879ca.9f4b26"],["25d879ca.9f4b26"],["25d879ca.9f4b26"],["3c399855.d85b68"]]},{"id":"25d879ca.9f4b26","type":"ui_chart","z":"8e369a6.066f068","name":"","group":"444ed19b.f1014","order":6,"width":"0","height":"0","label":"Water Levels","chartType":"line","legend":"true","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1390,"y":640,"wires":[[]]},{"id":"3c399855.d85b68","type":"ui_chart","z":"8e369a6.066f068","name":"","group":"444ed19b.f1014","order":7,"width":"0","height":"0","label":"Light Intensity","chartType":"line","legend":"true","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1400,"y":680,"wires":[[]]},{"id":"c3f98dd7.ed839","type":"join","z":"8e369a6.066f068","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1090,"y":520,"wires":[["3602e691.ef293a"]]},{"id":"3602e691.ef293a","type":"json","z":"8e369a6.066f068","name":"","property":"payload","action":"str","pretty":false,"x":1230,"y":520,"wires":[["2f17a5cb.96ce5a"]]},{"id":"2f17a5cb.96ce5a","type":"file","z":"8e369a6.066f068","name":"","filename":"history","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1370,"y":520,"wires":[[]]},{"id":"eff023c5.47d47","type":"ui_template","z":"86e2edde.022a2","group":"54d4d828.b35af8","name":"Livestream","order":1,"width":"6","height":"4","format":"<img src=\"http://192.168.0.52:8888/\" border=\"0\">","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":530,"y":220,"wires":[[]]},{"id":"173fdc45.599614","type":"ui_switch","z":"86e2edde.022a2","name":"","label":"Heater","tooltip":"","group":"54d4d828.b35af8","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"heater","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":510,"y":280,"wires":[["550d9d78.76a654"]]},{"id":"89c04252.0a9ab","type":"ui_switch","z":"86e2edde.022a2","name":"","label":"Light 1","tooltip":"","group":"54d4d828.b35af8","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"light1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":510,"y":340,"wires":[["550d9d78.76a654"]]},{"id":"d2560c99.81659","type":"ui_switch","z":"86e2edde.022a2","name":"","label":"Light 2","tooltip":"","group":"54d4d828.b35af8","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"light2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":510,"y":400,"wires":[["550d9d78.76a654"]]},{"id":"b34f1fd1.ffaaa","type":"ui_switch","z":"86e2edde.022a2","name":"","label":"Fog","tooltip":"","group":"54d4d828.b35af8","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"fog","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":510,"y":460,"wires":[["550d9d78.76a654"]]},{"id":"8b2bf44c.051d98","type":"link in","z":"b88e2cee.1599c","name":"Output","links":["550d9d78.76a654","32380adf.e88f86","6f06e3eb.8400ac"],"x":75,"y":100,"wires":[["5e3351fe.02f3d","ddff9349.4ec6"]]},{"id":"1b6aac58.3591a4","type":"exec","z":"b88e2cee.1599c","command":"egctl","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":610,"y":60,"wires":[["4c715767.f0ce08"],["a51b4773.94db28"],[]]},{"id":"5e3351fe.02f3d","type":"function","z":"b88e2cee.1599c","name":"egctl Parameter Builder","func":"onoff = msg.payload ? \"on\" : \"off\";\n\nswitch(msg.topic) {\n    case \"heater\":\n        msg.payload = \"terrarium \" + onoff + \" left left left\";\n        break;\n    case \"light1\":\n        msg.payload = \"terrarium left \" + onoff + \" left left\";\n        break;\n    case \"light2\":\n        msg.payload = \"terrarium left left \" + onoff + \" left\";\n        break;\n    case \"fog\":\n        msg.payload = \"terrarium left left left \" + onoff;\n        break;\n    case \"stop\":\n        msg.payload = \"terrarium off off off off\";\n        break;\n    default:\n        msg.payload = \"terrarium left left left left\";\n        break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":60,"wires":[["1b6aac58.3591a4"]]},{"id":"275a9cc4.df2d04","type":"exec","z":"b88e2cee.1599c","command":"/usr/sbin/motorcontrol.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"motorcontrol","x":630,"y":140,"wires":[["92939c4.b80116"],["a51b4773.94db28"],[]]},{"id":"ddff9349.4ec6","type":"function","z":"b88e2cee.1599c","name":"motorcontrol Parameter Builder","func":"onoff = msg.payload ? \"on\" : \"off\";\n\nswitch(msg.topic) {\n    case \"rain\":\n        msg.payload = onoff + \" left left left\";\n        break;\n    case \"drain\":\n        msg.payload = \"left \" + onoff + \" left left\";\n        break;\n    case \"fan\":\n        msg.payload = \"left left \" + onoff + \" left\";\n        break;\n//    case \"fog\":\n//        msg.payload = \"left left left \" + onoff;\n//        break;\n    case \"stop\":\n        msg.payload = \"off off off off\";\n        break;\n    default:\n        msg.payload = \"left left left left\";\n        break;\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["275a9cc4.df2d04"]]},{"id":"550d9d78.76a654","type":"link out","z":"86e2edde.022a2","name":"Manual Control","links":["8b2bf44c.051d98","fe76cea2.883c1"],"x":735,"y":280,"wires":[]},{"id":"b3cb13ee.2744a","type":"ui_switch","z":"86e2edde.022a2","name":"","label":"Rain","tooltip":"","group":"54d4d828.b35af8","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"rain","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":510,"y":520,"wires":[["550d9d78.76a654"]]},{"id":"db572751.72e178","type":"ui_switch","z":"86e2edde.022a2","name":"","label":"Drain","tooltip":"","group":"54d4d828.b35af8","order":7,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"drain","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":510,"y":580,"wires":[["550d9d78.76a654"]]},{"id":"30d78eb1.664552","type":"ui_switch","z":"86e2edde.022a2","name":"","label":"Fan","tooltip":"","group":"54d4d828.b35af8","order":8,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"fan","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":510,"y":640,"wires":[["550d9d78.76a654"]]},{"id":"946a6e8d.2caf9","type":"ui_button","z":"86e2edde.022a2","name":"","group":"54d4d828.b35af8","order":9,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"darkred","bgcolor":"red","icon":"report","payload":"true","payloadType":"bool","topic":"stop","x":510,"y":700,"wires":[["550d9d78.76a654"]]},{"id":"3bfb3189.72d23e","type":"link in","z":"2ca9fadb.4c9106","name":"Environmental control - Light intensity in","links":["ccd791b8.31af5"],"x":115,"y":140,"wires":[["ad1bff1d.7f78b"]]},{"id":"32380adf.e88f86","type":"link out","z":"2ca9fadb.4c9106","name":"Environmental control out","links":["8b2bf44c.051d98","fe76cea2.883c1"],"x":1115,"y":400,"wires":[]},{"id":"96afee37.5b047","type":"switch","z":"2ca9fadb.4c9106","name":"Light Intensity","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"66","vt":"num"},{"t":"gt","v":"33","vt":"num"},{"t":"gt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"false","repair":false,"outputs":4,"x":440,"y":140,"wires":[["9891586e.dbc3c8"],["ec266ca6.e9765"],["55ee3224.95ee6c"],["aaa0e478.44f838"]]},{"id":"aaa0e478.44f838","type":"template","z":"2ca9fadb.4c9106","name":"Lights Off","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{\"light1\":false,\"light2\":false}","output":"json","x":680,"y":200,"wires":[["58600246.ea908c"]]},{"id":"55ee3224.95ee6c","type":"template","z":"2ca9fadb.4c9106","name":"Light 33%","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{\"light1\":true,\"light2\":false}","output":"json","x":680,"y":160,"wires":[["58600246.ea908c"]]},{"id":"9891586e.dbc3c8","type":"template","z":"2ca9fadb.4c9106","name":"Light 100%","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{\"light1\":true,\"light2\":true}","output":"json","x":690,"y":80,"wires":[["58600246.ea908c"]]},{"id":"58600246.ea908c","type":"split","z":"2ca9fadb.4c9106","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":910,"y":140,"wires":[["32380adf.e88f86"]]},{"id":"4c715767.f0ce08","type":"split","z":"b88e2cee.1599c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":790,"y":60,"wires":[["7bce896f.11ca08"]]},{"id":"7bce896f.11ca08","type":"function","z":"b88e2cee.1599c","name":"Process output","func":"topics = ['heater', 'light1', 'light2', 'fog', ''];\n\nif(msg.parts.index == 4) {\n    return null;\n}\n\nparts = msg.payload.split(\" \");\n\nmsg.topic = topics[msg.parts.index];\nmsg.payload = parts[3] == 'on';\n\ndelete msg.parts;\ndelete msg.rc;\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":60,"wires":[["7b42e836.7b70c8"]]},{"id":"7b42e836.7b70c8","type":"link out","z":"b88e2cee.1599c","name":"Output status","links":["5ea46316.3505bc","c34e8e99.c23e3","892a3b4a.21e388","1689f8db.b94e27"],"x":1220,"y":100,"wires":[]},{"id":"5ea46316.3505bc","type":"link in","z":"86e2edde.022a2","name":"Output state","links":["7b42e836.7b70c8"],"x":115,"y":320,"wires":[["fa2da377.e9f5c"]]},{"id":"fa2da377.e9f5c","type":"switch","z":"86e2edde.022a2","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"heater","vt":"str"},{"t":"eq","v":"light1","vt":"str"},{"t":"eq","v":"light2","vt":"str"},{"t":"eq","v":"fog","vt":"str"},{"t":"eq","v":"rain","vt":"str"},{"t":"eq","v":"drain","vt":"str"},{"t":"eq","v":"fan","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":270,"y":320,"wires":[["173fdc45.599614"],["89c04252.0a9ab"],["d2560c99.81659"],["b34f1fd1.ffaaa"],["b3cb13ee.2744a"],["db572751.72e178"],["30d78eb1.664552"]]},{"id":"92939c4.b80116","type":"split","z":"b88e2cee.1599c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":790,"y":140,"wires":[["dc5fcd1.8961f3"]]},{"id":"dc5fcd1.8961f3","type":"function","z":"b88e2cee.1599c","name":"Process output","func":"topics = ['rain', 'drain', 'fan', 'none', ''];\n\nif(msg.parts.index == 3) {\n    return null;\n}\n\nparts = msg.payload.split(\" \");\n\nmsg.topic = topics[msg.parts.index];\nmsg.payload = parts[3] == 'on';\n\ndelete msg.parts;\ndelete msg.rc;\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":140,"wires":[["7b42e836.7b70c8"]]},{"id":"33c1c2e.4ca673e","type":"openweathermap in","z":"1097d375.a0292d","name":"","wtype":"current","lon":"-79.46728611111111","lat":"33.08895277777778","city":"","country":"","language":"en","x":340,"y":360,"wires":[["7af7dd83.1e3f34"]]},{"id":"7af7dd83.1e3f34","type":"function","z":"1097d375.a0292d","name":"Calculate Environmental targets","func":"\nnewPayload = {};\nnewPayload.targetTemperature = msg.payload.tempc;\nnewPayload.targetTemperatureMin = msg.payload.tempc - 1;\nnewPayload.targetTemperatureMax = msg.payload.tempc + 1;\nnewPayload.targetHumidity = msg.payload.humidity;\nnewPayload.targetHumidityMin = msg.payload.humidity - 20;\nnewPayload.targetHumidityMax = Math.min(msg.payload.humidity + 20, 100);\n\nmsg.payload = newPayload;\nmsg.topic = \"target\";\n\ndelete msg.location;\ndelete msg.data;\ndelete msg.title;\ndelete msg.time;\ndelete msg.description;\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":360,"wires":[["6821b816.9957c8"]]},{"id":"d51084b6.db9de8","type":"link out","z":"1097d375.a0292d","name":"Water levels","links":["d607774e.ad5c18"],"x":1535,"y":300,"wires":[]},{"id":"250a24e0.6eff9c","type":"delay","z":"1097d375.a0292d","name":"","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1620,"y":240,"wires":[["dcb294ef.62ba58"]]},{"id":"6821b816.9957c8","type":"msg-resend","z":"1097d375.a0292d","interval":"1","intervalUnit":"mins","maximum":"0","bytopic":false,"clone":false,"firstDelayed":false,"addCounters":false,"highRate":false,"outputCountField":"","outputMaxField":"","name":"","x":930,"y":360,"wires":[["d2ed1451.c27748"]]},{"id":"dbada12b.12f3a","type":"switch","z":"2ca9fadb.4c9106","name":"Temperature","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"targetTemperatureMax","vt":"flow"},{"t":"lt","v":"targetTemperatureMin","vt":"flow"}],"checkall":"false","repair":false,"outputs":2,"x":430,"y":400,"wires":[["7fe71d9f.089a74"],["57b4ad79.c7bf24"]]},{"id":"7fe71d9f.089a74","type":"template","z":"2ca9fadb.4c9106","name":"Heater Off","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"heater\":false\n}","output":"json","x":690,"y":380,"wires":[["8aec42d3.2e1ed"]]},{"id":"57b4ad79.c7bf24","type":"template","z":"2ca9fadb.4c9106","name":"Heater On","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"heater\":true\n}","output":"json","x":690,"y":420,"wires":[["8aec42d3.2e1ed"]]},{"id":"c778cca2.4eac3","type":"ui_chart","z":"8e369a6.066f068","name":"","group":"444ed19b.f1014","order":1,"width":"0","height":"0","label":"Temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"35","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1110,"y":340,"wires":[[]]},{"id":"e00d98d.ff16c68","type":"ui_chart","z":"8e369a6.066f068","name":"","group":"444ed19b.f1014","order":2,"width":"0","height":"0","label":"Humidity","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1100,"y":380,"wires":[[]]},{"id":"b615f379.ee71","type":"split","z":"1097d375.a0292d","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":790,"y":100,"wires":[["ad0358da.9b4e48"]]},{"id":"99e0880d.7efc08","type":"smooth","z":"1097d375.a0292d","name":"","property":"payload","action":"low","count":"20","round":"1","mult":"multi","x":1400,"y":240,"wires":[["250a24e0.6eff9c","d51084b6.db9de8"]]},{"id":"a51b4773.94db28","type":"debug","z":"b88e2cee.1599c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":100,"wires":[]},{"id":"b50b9a22.ebd018","type":"sunpos","z":"34a70a3d.77c6b6","name":"","lon":"5","lat":"33","start":"sunrise","startoffset":0,"end":"sunset","endoffset":0,"x":610,"y":140,"wires":[["bf9199c8.b6b9b8"]]},{"id":"a79f16c3.9ab0a8","type":"inject","z":"34a70a3d.77c6b6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":60,"wires":[["8e3482f4.5c767"]]},{"id":"4ec120ee.11e6b","type":"function","z":"34a70a3d.77c6b6","name":"","func":"hour = flow.get(\"hour\");\n\nvar months = [\"jan\", \"feb\", \"mar\", \"apr\", \"may\", \"jun\", \"jul\", \"aug\", \"sep\", \"oct\", \"nov\", \"dec\"];\nvar msgs = [];\n\nfor(var i = 0; i < 12; i++) {\n    var date = new Date(2019, i, 15, Math.floor(hour / 6), 10 * (hour % 6));\n    msgs[i] = {time:date, payload:date, month:months[i]};\n}\n\nhour++;\nflow.set(\"hour\", hour);\nreturn msgs;","outputs":12,"noerr":0,"x":390,"y":140,"wires":[["b50b9a22.ebd018"],["b50b9a22.ebd018"],["b50b9a22.ebd018"],["b50b9a22.ebd018"],["b50b9a22.ebd018"],["b50b9a22.ebd018"],["b50b9a22.ebd018"],["b50b9a22.ebd018"],["b50b9a22.ebd018"],["b50b9a22.ebd018"],["b50b9a22.ebd018"],["b50b9a22.ebd018"]]},{"id":"45100d42.ffabf4","type":"msg-resend","z":"34a70a3d.77c6b6","interval":"1","intervalUnit":"secs","maximum":"144","bytopic":false,"clone":false,"firstDelayed":false,"addCounters":false,"highRate":false,"outputCountField":"","outputMaxField":"","name":"","x":230,"y":240,"wires":[["4ec120ee.11e6b"]]},{"id":"8e3482f4.5c767","type":"function","z":"34a70a3d.77c6b6","name":"","func":"hour = 0;\nflow.set('hour', hour);\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":140,"wires":[["45100d42.ffabf4"]]},{"id":"bf9199c8.b6b9b8","type":"function","z":"34a70a3d.77c6b6","name":"","func":"var msg2 = {};\nmsg2.payload = Math.max(0, Math.round(Math.sin(msg.payload.altitude / 180 * Math.PI) * 100));\nmsg2.topic = msg.month;\n\nvar msg3 = {};\nmsg3.payload = new Date(msg.time);\nmsg3.topic = \"Time\"\nreturn [msg2, msg3];","outputs":2,"noerr":0,"x":810,"y":140,"wires":[["838b65e3.6898e8"],["838b65e3.6898e8"]]},{"id":"838b65e3.6898e8","type":"ui_chart","z":"34a70a3d.77c6b6","name":"","group":"5a12ef70.069d9","order":0,"width":"18","height":"9","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"144","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":140,"wires":[[]]},{"id":"ec266ca6.e9765","type":"template","z":"2ca9fadb.4c9106","name":"Light 66%","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{\"light1\":false,\"light2\":true}","output":"json","x":680,"y":120,"wires":[["58600246.ea908c"]]},{"id":"b2188ae9.8b6a08","type":"change","z":"1097d375.a0292d","name":"Remove Channel Data","rules":[{"t":"set","p":"topic","pt":"msg","to":"insideWaterLevel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":280,"wires":[["99e0880d.7efc08"]]},{"id":"c8780275.1388f","type":"change","z":"1097d375.a0292d","name":"Remove Channel Data","rules":[{"t":"set","p":"topic","pt":"msg","to":"wasteWaterLevel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":320,"wires":[["99e0880d.7efc08"]]},{"id":"ad1bff1d.7f78b","type":"switch","z":"2ca9fadb.4c9106","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"lightIntensity","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":140,"wires":[["96afee37.5b047"]]},{"id":"d2ed1451.c27748","type":"split","z":"1097d375.a0292d","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":1210,"y":360,"wires":[[]]},{"id":"ee932422.121a48","type":"link in","z":"2ca9fadb.4c9106","name":"Environmental control - Temperature in","links":["ccd791b8.31af5"],"x":115,"y":400,"wires":[["c2f4ca84.5dd5e8"]]},{"id":"c2f4ca84.5dd5e8","type":"switch","z":"2ca9fadb.4c9106","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"insideTemperature","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":400,"wires":[["dbada12b.12f3a","ed7fe75.8acee18"]]},{"id":"eddd7b91.3bf0b8","type":"change","z":"2ca9fadb.4c9106","name":"Store targets in flow","rules":[{"t":"set","p":"targetTemperatureMax","pt":"flow","to":"targetTemperatureMax","tot":"msg"},{"t":"set","p":"targetTemperatureMin","pt":"flow","to":"targetTemperatureMin","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":440,"wires":[[]]},{"id":"8aec42d3.2e1ed","type":"split","z":"2ca9fadb.4c9106","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":910,"y":400,"wires":[["32380adf.e88f86"]]},{"id":"10b980ad.906a0f","type":"comment","z":"2ca9fadb.4c9106","name":"Light Control Path","info":"","x":190,"y":100,"wires":[]},{"id":"5935d4e9.bc47ac","type":"comment","z":"2ca9fadb.4c9106","name":"Temperature Control Path","info":"","x":210,"y":360,"wires":[]},{"id":"c34e8e99.c23e3","type":"link in","z":"2ca9fadb.4c9106","name":"Environmental control - pulse control","links":["7b42e836.7b70c8"],"x":115,"y":720,"wires":[["baefc95c.535fc8"]]},{"id":"ace922cb.e23e1","type":"delay","z":"2ca9fadb.4c9106","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":700,"wires":[["5b7ea3e9.0bbb2c"]]},{"id":"967d2325.35dc","type":"switch","z":"2ca9fadb.4c9106","name":"Topics","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"rain","vt":"str"},{"t":"eq","v":"fog","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":720,"wires":[["ace922cb.e23e1","6e2af187.f4dbd"],["2c48c15d.2635de"]]},{"id":"baefc95c.535fc8","type":"function","z":"2ca9fadb.4c9106","name":"Filter \"on\"","func":"if(msg.payload === true) {\n    return msg;\n} else {\n    return null;\n}","outputs":1,"noerr":0,"x":210,"y":720,"wires":[["967d2325.35dc"]]},{"id":"5b7ea3e9.0bbb2c","type":"change","z":"2ca9fadb.4c9106","name":"Rain off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":700,"wires":[["32380adf.e88f86"]]},{"id":"2c48c15d.2635de","type":"delay","z":"2ca9fadb.4c9106","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":740,"wires":[["9347f748.be1148"]]},{"id":"9347f748.be1148","type":"change","z":"2ca9fadb.4c9106","name":"Fog off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":740,"wires":[["32380adf.e88f86"]]},{"id":"df151fe2.c4952","type":"comment","z":"2ca9fadb.4c9106","name":"Send \"off\" messages for triggered controls","info":"","x":260,"y":680,"wires":[]},{"id":"b6c8faf0.9f5428","type":"inject","z":"2ca9fadb.4c9106","name":"Daily rainshowers","topic":"rain","payload":"true","payloadType":"bool","repeat":"86400","crontab":"","once":true,"onceDelay":0.1,"x":650,"y":620,"wires":[["b4b69b25.fb9778"]]},{"id":"b4b69b25.fb9778","type":"delay","z":"2ca9fadb.4c9106","name":"Start random","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"1","randomUnits":"days","drop":false,"x":930,"y":620,"wires":[["32380adf.e88f86"]]},{"id":"6e2af187.f4dbd","type":"change","z":"2ca9fadb.4c9106","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":660,"wires":[["b4b69b25.fb9778"]]},{"id":"ad0358da.9b4e48","type":"smooth","z":"1097d375.a0292d","name":"","property":"payload","action":"low","count":"20","round":"1","mult":"multi","x":960,"y":100,"wires":[["dcb294ef.62ba58"]]},{"id":"2ebed959.744fe6","type":"comment","z":"2ca9fadb.4c9106","name":"Start a rainshower, somwhere in the next two days","info":"and reset the counter if a rainshower was started in the mean time","x":710,"y":580,"wires":[]},{"id":"892a3b4a.21e388","type":"link in","z":"9c02c459.5c4b68","name":"MQTT Output status","links":["7b42e836.7b70c8"],"x":135,"y":140,"wires":[["f3121004.b5b9"]]},{"id":"55a7afb8.2377d","type":"mqtt out","z":"9c02c459.5c4b68","name":"","topic":"","qos":"2","retain":"false","broker":"ec4eb288.f098c","x":490,"y":140,"wires":[]},{"id":"f3121004.b5b9","type":"function","z":"9c02c459.5c4b68","name":"Translate topics","func":"msg.topic = \"terrarium/stat/\" + msg.topic;\nmsg.payload = msg.payload ? \"ON\" : \"OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":140,"wires":[["55a7afb8.2377d"]]},{"id":"3d415700.9aab7a","type":"mqtt in","z":"9c02c459.5c4b68","name":"","topic":"terrarium/cmnd/rain","qos":"2","datatype":"utf8","broker":"ec4eb288.f098c","x":210,"y":200,"wires":[["721d8303.5fb03c"]]},{"id":"987e11e0.e8579","type":"mqtt in","z":"9c02c459.5c4b68","name":"","topic":"terrarium/cmnd/fog","qos":"2","datatype":"utf8","broker":"ec4eb288.f098c","x":210,"y":240,"wires":[["2335e071.4249d"]]},{"id":"8f1e5a8b.0e7898","type":"mqtt in","z":"9c02c459.5c4b68","name":"","topic":"terrarium/cmnd/light1","qos":"2","datatype":"utf8","broker":"ec4eb288.f098c","x":220,"y":280,"wires":[["aca777a9.00c9a8"]]},{"id":"721d8303.5fb03c","type":"function","z":"9c02c459.5c4b68","name":"Rain","func":"msg.topic = \"rain\";\nmsg.payload = msg.payload === \"ON\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":200,"wires":[["6f06e3eb.8400ac"]]},{"id":"2335e071.4249d","type":"function","z":"9c02c459.5c4b68","name":"Fog","func":"msg.topic = \"fog\";\nmsg.payload = msg.payload === \"ON\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["6f06e3eb.8400ac"]]},{"id":"aca777a9.00c9a8","type":"function","z":"9c02c459.5c4b68","name":"Light","func":"msg.topic = \"light1\";\nmsg.payload = msg.payload === \"ON\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["6f06e3eb.8400ac"]]},{"id":"6f06e3eb.8400ac","type":"link out","z":"9c02c459.5c4b68","name":"MQTT control out","links":["8b2bf44c.051d98"],"x":535,"y":240,"wires":[]},{"id":"fa0333b3.87167","type":"link in","z":"9c02c459.5c4b68","name":"MQTT - Sensor In","links":["6db201be.5cf4c","ccd791b8.31af5"],"x":135,"y":100,"wires":[["3a6ca66b.8a919a"]]},{"id":"99769897.443a38","type":"pushover","z":"9c02c459.5c4b68","name":"","device":"","title":"Check water","priority":0,"sound":"","url":"http://terrarium.home.derstr.net","url_title":"","html":true,"x":1070,"y":440,"wires":[]},{"id":"d607774e.ad5c18","type":"link in","z":"9c02c459.5c4b68","name":"Notifications  - Water levels in","links":["d51084b6.db9de8"],"x":135,"y":440,"wires":[["8116ea10.0180d8"]]},{"id":"3a6ca66b.8a919a","type":"function","z":"9c02c459.5c4b68","name":"Translate topics","func":"msg.topic = \"terrarium/stat/\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":100,"wires":[["55a7afb8.2377d"]]},{"id":"8116ea10.0180d8","type":"switch","z":"9c02c459.5c4b68","name":"Topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"freshWaterLevel","vt":"str"},{"t":"eq","v":"wasteWaterLevel","vt":"str"},{"t":"eq","v":"insideWaterLevel","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":270,"y":440,"wires":[["f9832df.6036cd"],[],[]]},{"id":"f9832df.6036cd","type":"switch","z":"9c02c459.5c4b68","name":"Level < 10","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":400,"wires":[["ce40c02a.bbaca"]]},{"id":"d7147dd4.17768","type":"delay","z":"9c02c459.5c4b68","name":"","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":850,"y":440,"wires":[["99769897.443a38"]]},{"id":"ce40c02a.bbaca","type":"template","z":"9c02c459.5c4b68","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Fresh water is almost empty: {{payload}}!","output":"str","x":640,"y":400,"wires":[["d7147dd4.17768"]]},{"id":"4170dc42.949a04","type":"switch","z":"9c02c459.5c4b68","name":"Level > 30","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":440,"wires":[["33524434.f4917c"]]},{"id":"33524434.f4917c","type":"template","z":"9c02c459.5c4b68","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Waste water is almost full: {{payload}}!","output":"str","x":640,"y":440,"wires":[["d7147dd4.17768"]]},{"id":"e7f95fda.360ae","type":"switch","z":"9c02c459.5c4b68","name":"Level > 30","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":480,"wires":[["611f582b.45d8e8"]]},{"id":"611f582b.45d8e8","type":"template","z":"9c02c459.5c4b68","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Inside water is almost full: {{payload}}!","output":"str","x":640,"y":480,"wires":[["d7147dd4.17768"]]},{"id":"76971139.8177f","type":"inject","z":"f03c8a04.b7c0a8","name":"Trigger every minute","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"0.3","x":140,"y":220,"wires":[["f4c619d0.551ac8","6b8d2dbc.669eb4"]]},{"id":"83a0c184.64beb","type":"cubic-range","z":"f03c8a04.b7c0a8","xs":"-16, 15, 46, 74, 105, 135, 166, 196, 227, 258, 288, 319, 349, 380","ys":"21.9, 21.3, 22.5, 24.7, 27.0, 28.7, 29.4, 30.0, 30.0, 28.9, 26.8, 24.5, 21.9, 21.3","acceptNewTable":false,"newTableTopic":"","property":"payload","name":"High temp range","x":840,"y":140,"wires":[["b11f1671.247c88"]]},{"id":"36512303.2e7d3c","type":"cubic-range","z":"f03c8a04.b7c0a8","xs":"-16, 15, 46, 74, 105, 135, 166, 196, 227, 258, 288, 319, 349, 380","ys":"11.5,13.1,11.7,13.5,15.7,17.9,19.6,20.0,19.9,18.6,16.0,13.4,11.5,13.1","acceptNewTable":false,"newTableTopic":"","property":"payload","name":"Low temp range","x":840,"y":180,"wires":[["aab91bc3.fd4518"]]},{"id":"48b6743f.c3b3ac","type":"function","z":"f03c8a04.b7c0a8","name":"Get Day of Year","func":"var now = new Date(msg.payload);\nvar start = new Date(now.getFullYear(), 0, 0);\nvar diff = (now - start) + ((start.getTimezoneOffset() - now.getTimezoneOffset()) * 60 * 1000);\nvar oneDay = 1000 * 60 * 60 * 24;\nvar day = Math.floor(diff / oneDay);\n\nmsg.payload = day;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":160,"wires":[["36512303.2e7d3c","83a0c184.64beb"]]},{"id":"b11f1671.247c88","type":"change","z":"f03c8a04.b7c0a8","name":"Max temp","rules":[{"t":"set","p":"topic","pt":"msg","to":"maxTemp","tot":"str"},{"t":"set","p":"prevMaxTemp","pt":"flow","to":"maxTemp","tot":"flow"},{"t":"set","p":"maxTemp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":140,"wires":[["7a94c91b.5715b8"]]},{"id":"aab91bc3.fd4518","type":"change","z":"f03c8a04.b7c0a8","name":"Min temp","rules":[{"t":"set","p":"topic","pt":"msg","to":"minTemp","tot":"str"},{"t":"set","p":"prevMinTemp","pt":"flow","to":"minTemp","tot":"flow"},{"t":"set","p":"minTemp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":180,"wires":[["7a94c91b.5715b8"]]},{"id":"7a94c91b.5715b8","type":"function","z":"f03c8a04.b7c0a8","name":"Build day climate","func":"msg.topic = \"newtable\";\n\nvar sunrise = flow.get('sunrise');\nvar solarNoon = flow.get('solarNoon');\n\nvar low1 = 350;\nvar low2 = 370;\nvar high1 = 830;\nvar high2 = 850;\n\nif(Number.isInteger(sunrise)) {\n    var sunriseDate = new Date(sunrise);\n    var sunriseMinutes = sunriseDate.getHours() * 60 + sunriseDate.getMinutes();\n    low1 = sunriseMinutes - 10;\n    low2 = sunriseMinutes + 10;\n}\n\nif(Number.isInteger(solarNoon)) {\n    var solarNoonDate = new Date(sunrise);\n    var solarNoonMinutes = solarNoonDate.getHours() * 60 + solarNoonDate.getMinutes();\n    high1 = solarNoonMinutes - 10;\n    high2 = solarNoonMinutes + 10;\n}\n\nvar maxTemp = flow.get('maxTemp');\nvar minTemp = flow.get('minTemp');\nvar prevMaxTemp = flow.get('prevMaxTemp') || maxTemp;\nvar prevMinTemp = flow.get('prevMinTemp') || minTemp;\n\nmsg.table = {};\nmsg.table.x = [-610, -590, low1, low2, high1, high2, 1790, 1810]; \nmsg.table.y = [prevMaxTemp, prevMaxTemp, prevMinTemp, prevMinTemp, maxTemp, maxTemp, minTemp, minTemp];\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":160,"wires":[["9375cdd3.c7495"]]},{"id":"9375cdd3.c7495","type":"cubic-range","z":"f03c8a04.b7c0a8","xs":"-600.0, 360.0, 840.0, 1800.0","ys":"0, 0, 0, 0","acceptNewTable":true,"newTableTopic":"","property":"payload","name":"Day range","x":1470,"y":220,"wires":[["6c0fa10f.a0f21"]]},{"id":"f4c619d0.551ac8","type":"function","z":"f03c8a04.b7c0a8","name":"Get Minute of Day","func":"var now = new Date(msg.payload);\nvar minutes = now.getMinutes() + now.getHours() * 60;\nmsg.payload = minutes;\nmsg.topic = \"targetTemperature\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["9375cdd3.c7495"]]},{"id":"6b8d2dbc.669eb4","type":"delay","z":"f03c8a04.b7c0a8","name":"","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":180,"wires":[["48b6743f.c3b3ac"]]},{"id":"b9c7433f.3c191","type":"inject","z":"f03c8a04.b7c0a8","name":"Trigger on deploy","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":390,"y":140,"wires":[["48b6743f.c3b3ac"]]},{"id":"c4089587.17c3e8","type":"exec","z":"1097d375.a0292d","command":"ads1115Status.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"ads1115Status","x":340,"y":260,"wires":[["c3909032.91876"],[],[]]},{"id":"c3909032.91876","type":"function","z":"1097d375.a0292d","name":"Split results","func":"var values = msg.payload.split(\" \");\nvar msgs = [];\nfor(i = 0; i < values.length; i++) {\n    msgs.push({payload:parseInt(values[i])});\n}\nreturn msgs;","outputs":4,"noerr":0,"x":550,"y":260,"wires":[["99d0ac40.00f6b"],["9df60e06.4f67d"],["9aa7eb34.425178"],["95e7833b.a84bb"]]},{"id":"28ed7798.85b108","type":"inject","z":"1097d375.a0292d","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":260,"wires":[["c4089587.17c3e8"]]},{"id":"dddb6f79.15e44","type":"link out","z":"1097d375.a0292d","name":"Input - sun","links":["c59929b.4ddf6d8"],"x":495,"y":200,"wires":[]},{"id":"c59929b.4ddf6d8","type":"link in","z":"f03c8a04.b7c0a8","name":"Weather model - sun","links":["dddb6f79.15e44"],"x":215,"y":260,"wires":[["c10d95ac.d0a3f8"]]},{"id":"c10d95ac.d0a3f8","type":"change","z":"f03c8a04.b7c0a8","name":"Sun hours to flow parameters","rules":[{"t":"set","p":"sunrise","pt":"flow","to":"payload.sunTimes.sunrise","tot":"msg"},{"t":"set","p":"solarNoon","pt":"flow","to":"payload.sunTimes.solarNoon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":260,"wires":[[]]},{"id":"6c0fa10f.a0f21","type":"function","z":"f03c8a04.b7c0a8","name":"Add min and max temp","func":"msg.targetTemperatureMin = msg.payload - 1;\nmsg.targetTemperatureMax = msg.payload + 1;\n\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":220,"wires":[["583e2fb8.b018e"]]},{"id":"583e2fb8.b018e","type":"link out","z":"f03c8a04.b7c0a8","name":"Weather model out","links":["b4d96b7b.be9858","cf800ffc.8885"],"x":1895,"y":220,"wires":[]},{"id":"b4d96b7b.be9858","type":"link in","z":"2ca9fadb.4c9106","name":"Environmental control - Temperature in","links":["583e2fb8.b018e"],"x":115,"y":440,"wires":[["eddd7b91.3bf0b8","e7f398fc.eff8a8"]]},{"id":"b7f81f09.1eac3","type":"switch","z":"8e369a6.066f068","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"targetTemperature","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":210,"y":380,"wires":[["58313f6e.f640b","17fada8a.b69f45"],["b56b00c5.1a5fa","a2ce0ed6.6687f"]]},{"id":"17fada8a.b69f45","type":"change","z":"8e369a6.066f068","name":"Target Temperature Min","rules":[{"t":"set","p":"topic","pt":"msg","to":"targetTemperatureMin","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"targetTemperatureMin","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":300,"wires":[["b56b00c5.1a5fa","a2ce0ed6.6687f"]]},{"id":"58313f6e.f640b","type":"change","z":"8e369a6.066f068","name":"Target Temperature Max","rules":[{"t":"set","p":"topic","pt":"msg","to":"targetTemperatureMax","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"targetTemperatureMax","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":340,"wires":[["b56b00c5.1a5fa","a2ce0ed6.6687f"]]},{"id":"10dc96f8.adf719","type":"comment","z":"1097d375.a0292d","name":"Read analog ports every 10 seconds","info":"","x":180,"y":220,"wires":[]},{"id":"c78ef0b5.e2511","type":"comment","z":"1097d375.a0292d","name":"Read DHT22 and calculate sun position every minute","info":"","x":230,"y":40,"wires":[]},{"id":"e7f398fc.eff8a8","type":"debug","z":"2ca9fadb.4c9106","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":480,"wires":[]},{"id":"ed7fe75.8acee18","type":"debug","z":"2ca9fadb.4c9106","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":360,"wires":[]},{"id":"f76cbce1.fcd22","type":"inject","z":"8e369a6.066f068","name":"Clear graphs","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":890,"y":900,"wires":[["c778cca2.4eac3","e00d98d.ff16c68","513f788c.2bdb28","cdc42f39.20ff2","f25128c2.e93548","25d879ca.9f4b26","3c399855.d85b68"]]},{"id":"1689f8db.b94e27","type":"link in","z":"db8eb98c.d51c08","name":"","links":["7b42e836.7b70c8"],"x":120,"y":200,"wires":[["1379cd5a.9fdff3"]]},{"id":"835946e8.48d828","type":"switch","z":"db8eb98c.d51c08","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"rain","vt":"str"},{"t":"eq","v":"fog","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":200,"wires":[["a1de7084.3cdef"],["2bd83ae3.328f66"]]},{"id":"1379cd5a.9fdff3","type":"function","z":"db8eb98c.d51c08","name":"Filter \"on\"","func":"if(msg.payload === true) {\n    return msg;\n} else {\n    return null;\n}","outputs":1,"noerr":0,"x":260,"y":200,"wires":[["835946e8.48d828"]]},{"id":"a1de7084.3cdef","type":"change","z":"db8eb98c.d51c08","name":"Last Rain","rules":[{"t":"set","p":"lastRain","pt":"flow","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":180,"wires":[[]]},{"id":"2bd83ae3.328f66","type":"change","z":"db8eb98c.d51c08","name":"Last Fog","rules":[{"t":"set","p":"lastFog","pt":"flow","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":220,"wires":[[]]},{"id":"f60e3730.b33e98","type":"inject","z":"db8eb98c.d51c08","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":320,"wires":[["7686f646.714748"]]},{"id":"7686f646.714748","type":"function","z":"db8eb98c.d51c08","name":"Last Rain / Fog","func":"var lastRain = flow.get('lastRain');\nvar lastFog = flow.get('lastFog');\n\nvar msg1 = null;\nvar msg2 = null;\n\nif(lastRain) {\n    msg1 = {\n        topic:\"lastRain\",\n        payload:Math.round((msg.payload - lastRain) / 3600000)\n    };\n}\nif(lastFog) {\n    msg2 = {\n        topic:\"lastFog\",\n        payload:Math.round((msg.payload - lastFog) / 3600000)\n    };\n}\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":460,"y":320,"wires":[["6db201be.5cf4c"],["6db201be.5cf4c"]]},{"id":"6db201be.5cf4c","type":"link out","z":"db8eb98c.d51c08","name":"Counters and timers","links":["fa0333b3.87167"],"x":615,"y":320,"wires":[]},{"id":"72ef3481.38bb2c","type":"range","z":"1097d375.a0292d","minin":"8","maxin":"65","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":1120,"y":240,"wires":[["99e0880d.7efc08"]]}]